@import "../../base";

.list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 900px;
    max-width: 944px;
    margin: 10px;
    padding: 25px 30px;
    background-color: rgba($color: $sub-general-color, $alpha: .2);
    color: $sub-general-color;
    border-radius: 5px;

    transition: all .2s;

    &:hover {
        cursor: pointer;
        background-color: rgba($sub-general-color, 0.4);
    }
}

.name {
    font-size: $pc-font-general;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.naming {
    display: flex;
    flex-direction: column;
    color: $sub-general-color;
}

.label {
    font-size: $pc-font-general;
    font-weight: bold;
}

.sublabel {
    font-size: $pc-font-sub;
}