@import "./../../base";

.stages {
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.stage {
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    min-height: 250px;
    height: fit-content;
    margin: 5px;
    user-select: none;
    border-radius: 5px;

    @media (max-width: 1024px) {
        width: 100%;
    }
}

.queue {
    background-color: rgba($queue-color, 0.4);
}

.development {
    background-color: rgba($dev-color, 0.4);
}

.done {
    background-color: rgba($done-color, 0.4);
}

.label {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: $pc-font-general;
    padding: 10px 0;
    font-weight: bold;
    color: #51459E;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.naming {
    font-size: 25px;
    padding: 0 25px;

    span {
        display: block;
        color: $sub-general-color;
    }

    span:first-child {
        font-size: $pc-font-general;
        font-weight: bold;
    }
}