$queue-color: #F75990;
$dev-color: #FDBC64;
$done-color: #00DDFF;

.stages {
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
    }
}

.stage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 32%;
    // height: 90vh;
    max-height: 100vh;
    margin: 5px;

    @media (max-width: 1024px) {
        width: 100%;
        // height: 30vh;
    }
}

.queue {
    background-color: rgba($queue-color, 0.4);
}

.development {
    background-color: rgba($dev-color, 0.4);
}

.done {
    background-color: rgba($done-color, 0.4);
}

.label {
    font-size: 30px;
    font-weight: bold;
    color: #51459E;
}

.task {
    padding: 5px 10px;
    width: 100%;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;

    &-queue {
        background-color: $queue-color;
    }

    &-dev {
        background-color: $dev-color;
    }

    &-done {
        background-color: $done-color;
    }
}