// цвета для states
$queue-color: #F75990;
$dev-color: #FDBC64;
$done-color: #00DDFF;

// основные цвета сайта
$general-color: #FFFFFF;
$sub-general-color: #51459E;
$third-general-color: #84E8F4;

// размеры шрифтов

// // для ПК
$pc-font-general: 30px;
$pc-font-sub: 18px;