@import './../../base';

.button {
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: $pc-font-sub;
    cursor: pointer;


    &.main {
        background-color: $sub-general-color;
        color: $general-color;

        &:hover {
            background-color: rgba($sub-general-color, .9);
        }
    }

    &.second {
        background-color: $general-color;
        color: $sub-general-color;

        &:hover {
            background-color: $third-general-color;
        }

        &:active {
            background-color: rgba($general-color, .1);
            color: $general-color;
        }
    }

}