@import './../../base';

.button {
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px;
    font-size: $pc-font-min;
    cursor: pointer;


    &.main {
        background-color: $sub-general-color;
        color: $general-color;

        &:hover {
            background-color: rgba($sub-general-color, .9);
        }
    }

    &.second {
        background-color: $general-color;
        color: $sub-general-color;

        &:hover {
            background-color: $third-general-color;
        }

        &:enabled:active {
            background-color: rgba($general-color, .1);
            color: $general-color;
        }
    }

    &.exit {
        background-color: $danger-color;
        color: $general-color;

        &:hover {
            background-color: rgba($danger-color, .8);
        }
    }

    &:disabled {
        cursor: default;
        background-color: rgba($general-color, .6);

        &:hover {
            background-color: rgba($general-color, .6);
        }
    }
}